# Core Dependencies
fastapi
uvicorn
pydantic
pydantic-settings

# Database
mysql-connector-python
pymongo==4.6.0

# Kafka
kafka-python==2.0.2

# Spark
pyspark==3.5.0

# Machine Learning

scikit-learn

# Data Processing
pandas
numpy

# Utilities
python-dotenv==1.0.0

